@import "./theme.scss";

body,li,ul,dd,dt,table,tr,td,a,p{
  margin: 0;
  padding: 0;
}
html{
  background: #000;
}

.pircture__preview {
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .preview__img {
    cursor: pointer;
    max-height: 100vh;
    vertical-align: bottom;
  }
}
